NODE_ENV=production
HOST=127.0.0.1
PORT=3000

NEXT_PUBLIC_FORM_ENDPOINT=/api/application

VK_TOKEN=
VK_GROUP_ID=169502771
VK_RECEIVER_ID=

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=korpusm2010@mail.ru
SMTP_PASSWORD=
MAIL_FROM=korpusm2010@mail.ru
MAIL_TO=korpusm2010@mail.ru
